# Python environments
venv/
env/
glitterin_env/
*/venv/
*/env/
*/glitterin_env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# LaTeX build files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
*.swp
